log_errors = On
memory_limit = -1
date.timezone = {{ getenv "TIMEZONE" }}


display_errors = {{ getenv "PHP_DISPLAY_ERRORS" }}
display_startup_errors = {{ getenv "PHP_DISPLAY_STARTUP_ERRORS" }}
error_log = /proc/self/fd/2

upload_max_filesize = {{ getenv "PHP_UPLOAD_MAX_FILESIZE" }}
post_max_size = {{ getenv "PHP_POST_MAX_FILESIZE" }}
